@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700;900&display=swap');

:root {
  --font-vazirmatn: 'Vazirmatn', sans-serif;
}

body {
  font-family: var(--font-vazirmatn);
  direction: rtl;
  text-align: right;
  background-color: #f8fafc;
  color: #0f172a;
}
